@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Quicksand|Roboto+Condensed:300,400');

* {
    font-family: 'Quicksand', SansSerif, serif;
}

.logo {
    font-family: 'Great Vibes', cursive;
}

.profile {
}

a {
    text-decoration: none !important;
    color: black !important;
}

.card, .card-panel, nav {
    box-shadow: 0 1px 1px 0 #D4D4D5, 0 0 0 1px #D4D4D5 !important;
}

.create-article textarea {
    resize: none;
    overflow: hidden;
}

.create-article input, .create-article textarea {
    outline: none !important;
    border: none !important;
}

.create-article .title {
    font-size: 3em !important;
    font-weight: bolder !important;
    margin: 20px 0 !important;
    color: rgba(0,0,0,.5) !important;
}

.create-article .description {
    min-height: 200px;
}

.create-article .body {
    min-height: 500px;
}

.create-article .description:active, .create-article .body:active , .create-article .title:active, .create-article .chips{
    border: none !important;
    outline: none !important;
}

.article_preview {
    padding: 0.5em;
}

.article_preview img {
    object-fit: cover;
    object-position: center;
}

.article_preview .title {
    font-size: 1.3em;
    font-weight: bold;
}

.article_preview.small img {
    width: 100px;
    height: 100px;
}

.article_preview.small .description {
    font-size: 0.8em;
}

.article_preview.small .title {
    font-size: 1em;
}

.article_preview.medium img {
    height: 150px;
    width: 150px;
}

.article_preview.vertical img {
    width: 100% !important;
}

.article_preview.large img {
    height: 200px;
    width: 200px;
}

.article_preview .author {
    font-weight: bold;
    font-size: 0.8em;
}

.article_preview .date {
    font-size: 0.8em;
    color: rgba(0, 0, 0, .5);
}

.article_preview.vertical .author, .article_preview.medium .author {
    margin-top: 20px;
}

.article_preview .counter {
    text-align: center;
    color: rgba(0, 0, 0, .3);
    font-weight: bolder;
    width: 50px;
    height: 50px;
    font-size: 2em;
}

.divider.horizontal {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, .3);
    margin-top: 1em;
    margin-bottom: 1em;
}

.article .banner {
    height: 400px !important;
    width: 100% !important;
    object-fit: cover;
    object-position: center;
}

.meta {
    font-size: 0.7em;
}

article {
    font-size: 1.8em;
}

.tag {
    padding: 0.5em 1em;
    background: rgba(100, 100, 100, .1);
    border-radius: 0.5em;
}

.tag:hover{
    background: rgba(100, 100, 100, .2);
}