<!--
This template creates a UI for notifying the user for successful update of paswword.

REQUIRED PARAMETERS:
    login_link - the login link for the user
!-->
{% extends 'email_template.html' %}
{% block content %}

    <div>
        <p>Your password for Author's Heaven account was successfully changed!!! <br/>
            click the button bellow to login
        </p>
        <br/>
        <a class="button" href="{{ login_link }}">Login</a>
        <br/>
        <br/>
        <p>Happy Writing!</p>
    </div>

{% endblock %}