<!--
This template creates a UI for confirming that the request for password reset has been completed.

REQUIRED PARAMETERS:
    username - the username of the user
    rest_password_link - the reset password link for the user
!-->
{% extends 'email_template.html' %}
{% block content %}

    <div>
        <p><b>Hi {{ username }}</b></p>
        <p>The password for your Authors Heaven Account has been successfully reset. Click the button below to log in.
        </p>
        <br/>
        <a class="button" href="{{ login_link }}">Log in</a>
        <br/>
        <br/>
        <p>Thanks, <br/>Authors Heaven Tech Team</p>
        <br/>
        <p>Happy Writing!</p>
    </div>

{% endblock %}